<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="Content-Type" content="text/html"; charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('css/base.css') }}" type="text/css" rel="stylesheet" />
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
            <link href="{{ asset('bundles/app/css/app.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" /> 
    </head>
    <body>
        {% spaceless %}
        <div class="site_container">
            <header>
                <ul class="admin_log">
                    <li data-url_val="dialogue" data-form_action="/app/example/login" data-button_text="Log in" data-title="Connect to your account">Log in</li>
                    <li data-url_val="dialogue" data-form_action="/app/example/signup" data-button_text="Sign up" data-title="Sign up for a free account" data-button_sign_up="1">Sign up</li>
                </ul>
            </header>
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}
            <script src="{{ asset( 'bundles/app/js/thirdparty/jquery-1.11.2.min.js' ) }}" type="text/javascript"></script>
            <script src="{{ asset( 'bundles/app/js/thirdparty/handlebars-1.0.rc.1.min.js' ) }}" type="text/javascript"></script>
            <script src="{{ asset( 'bundles/app/js/main.js' ) }}" type="text/javascript"></script>
        {% endblock %}
        {% endspaceless %}
    </body>
</html>
